.po-device
    .container
        h2.po-device__title.title-small.
            Устройство хранения и обработки данных <br> видеоизображения
        .po-device__grid
            .po-device__left
                .po-device__content.content.content--nogap
                    p Первичным устройством после камеры в качестве технической единицы выступает устройство хранения и обработки данных.
                    p Данное устройство разработано инженерами компании” Азимут” и совместило в себе несколько устройств для обеспечения стабильной и надежной работы Системы.
            .po-device__right
                .po-device__img
                    img(src="images/content/po-device/img.png" alt="lorem")