.po-device {
  position: relative;
  padding-top: 110px;
  padding-bottom: 450px;
  @include xlg-block {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $bg2;
  }
  @include sm-block {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    pointer-events: none;
    background-color: $bg2;
    @include xlg-block {
      display: none;
    }
  }

  .container {
    position: relative;
    z-index: 2;
  }

  &__title {
    margin-bottom: 55px;
    @include xlg-block {
      margin-bottom: 20px;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    @include xlg-block {
      align-items: center;
    }
    @include lg-block {
      grid-template-columns: 100%;
      gap: 20px;
    }

  }

  &__left {
    @include lg-block {
      order: 1;
    }
  }

  &__content {
    color: $bg;
    @include lg-block {
      text-align: center;
    }
  }

  &__img {
    margin-right: -160px;
    @include xlg-block {
      margin-right: 0;
    }
    @include lg-block {
      max-width: 500px;
      width: 100%;
      margin: 0 auto;
    }
  }
}