extends ../../main

block variables
    - var header = 'about'
    - var title = 'О нас'

block content
    main.page
        div(style="background-image:url(/images/content/about.png)").page__bg
        section.page__first
            .about
                .about__container
                    h2.about__title.title О нас
                    .about__flex
                        .about__left
                            .about__content.about__content--white
                                h4 мы разрабатываем:
                                ul
                                    li программно-аппаратные средства обеспечения
                                    li телекоммутационное оснащение
                                    li внедряем разработки в существующую инфраструктуру под требования заказчиков
                                p Наша компания производит разработку, установку и техническую поддержку аппаратно-программного комплекса на основе Open API платформы для интеграции и технологического подключения цифровых сервисов к инфраструктуре и системам ПФР, операторов связи, НПФ, прочих организаций, желающих объединить свои системы под единым интерфейсом.
                        .about__right.fs0
                            .about__img
                                img(src="images/content/about/img1.jpg" alt="мы разрабатываем")
        section.page__about
            .about
                .about__container
                    .about__flex
                        .about__left.fs0
                            .about__img
                                img(src="images/content/about/img2.jpg" alt="мы разрабатываем")
                        .about__right
                            .about__content
                                p Данный АПК предназначен для обеспечения роста доступности и качества социального обслуживания физических лиц на базе ИТ-инфраструктуры операторов связи, ПФР, НПФ, банков, социальных операторов и прочих организаций. Реализованы мобильные сервисы верификации пенсионных прав граждан, управления пенсионными планами, интеллектуальная справочная система и терминал самостоятельного обслуживания в соответствии с требованиями регуляторов по всему миру. На базе технологической коллаборации с биотех Gero разработан уникальный сервис для предпенсионеров. Система служит единым интерфейсом, объединяющим в себе все инженерные системы предприятия такие как: видеонаблюдение, пожарную безопасность, систему контроля и управления доступом, систему оповещения и управления эвакуацией и прочие системы. АПК позволяет организовывать службу межведомственных взаимодействий между единым центром мониторинга и удаленными областными или районными подразделениями.






