.inno-info
    .inno-info__content.content.content--nogap
        p Инновационность продукта проекта заключается, также, в комплексном применении технологий искусственного интеллекта: машинного обучения (Machine learning - ML), машинного зрения и машинной обработки языка (Natural Language Processing, NLP) в разрабатываемых мобильных сервисах для индивидуального планирования пенсионных прав людей по всему миру:
    .inno-info__items
        .inno-info__item
            .content
                p Online идентификация по голосу и дополнительному параметру на выбор пользователя(паспорт, фото, видео) с помощью мобильного устройства или мессенджера
        .inno-info__item
            .content
                p Скоростная загрузка и верификация юридически значимых документов для управления пенсионными правами с помощью специального ПО для уникальных терминалов самообслуживания, мобильных телефонов и мессенджеров;
        .inno-info__item
            .content
                p Индивидуальное планирование пенсионного плана пользователя на основе рекомендательной системы и предиктивной аналитики данных двигательной активности. Актуальные на момент принятия решения пользователем экономические данные для управления пенсионными правами конвертируется в автоматизированном режиме из официальных информационных ресурсов и баз данных. Для этого используются технологии обработки информации на базе искусственного интеллекта, а поисковый движок платформы формирует рэнкинг индивидуальных пенсионных планов в зависимости от выбранных параметров риска и доходности. Оценка продолжительности жизни пользователя основывается на анализе изменения состояния организма на таком легкодоступном сигнале, как двигательная активность. Сервис обеспечивает автоматическое сравнение альтернатив по более чем 20 параметрам с учетом стоимости обслуживания накопительных счетов, продолжительности жизни, ежемесячных выплат и других показателей.
        .inno-info__item
            .content
                p Интеллектуальная справочная система обеспечивает поиск в базе знаний платформы с возможностью делать запросы на естественном языке. За счет применения глубоких моделей извлечения фактов из текстов и автореферирования их содержания, сервис существенно повысил качество поиска информации и, соответственно, самообслуживания пользователей в области пенсионных прав как на терминале самообслуживания, так и с помощью телефонов.
    .inno-info__content.content.content--nogap
        p Создание платформы Azimut на ИТ-инфраструктуре телекома поможет построить экосистему цифровизации социального обслуживания граждан вокруг государственных социальных институтов, регуляторов, НПФ, страховых компаний и банков, обеспечит рост ARPU операторам связи и оптимизацию издержек вывода новых услуг за счёт оперативности и снижения срока окупаемости для технологических компаний биотех- финтех- и регтех-сервисов.
        p Платформа способна многократно повысить эффективность гос. соц. страхования, объединив инновации технологических компаний, усилия государственных служб, социальных операторов и НПФ для развития пенсионных прав граждан по всему миру.

