.inno-info{
  padding-top: 110px;
  padding-bottom: 70px;
  @include xlg-block{
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @include sm-block{
    padding: 40px 0;
  }

  &__items{
    display: flex;
    flex-direction: column;
    gap: 120px;
    width: 100%;
    max-width: 1100px;
    margin: 110px auto 100px;
    @include xlg-block{
      margin: 60px auto 60px;
      gap: 40px;
    }
  }

  &__item{
    display: flex;
    gap: 40px;
    @include sm-block{
        flex-direction: column;
      gap: 10px;
      align-items: center;
      text-align: center;
    }

    &:before{
      content: '';
      width: 90px;
      height: 90px;
      background-size: auto 100%;
      background-position: center 0;
      background-repeat: no-repeat;
      flex-shrink: 0;
    }

    @for $i from 1 through 4 {
      &:nth-child(#{$i}){
        &:before{
          background-image: url("/images/content/page-projects/#{$i}.png");
        }
      }
    }

    .content{
      max-width: 850px;
    }

  }
}