.po-raid
    h2.po-raid__title.title-small Сервер хранения данных AZIMUT - RECORD - IPV - S
    .po-raid__cols
        .po-raid__left
            .content.content--nogap
                p Сервер хранения данных является второй неотъемлемой частью любой полноценной системы видеонаблюдения.
                p Сервер хранения данных — это комплекс аппаратных и программных средств, который предназначен для хранения и оперативной обработки информации, как правило, большого объема. Информация — это файлы, в том числе медиа, структурированные (СУБД) и неструктурированные данные (big data), резервные копии, архивы. В качестве носителей информации используются жесткие диски, в основном SSD), а также гибридные решения, сочетающие SSD- и HDD-накопители в одной.
        .po-raid__right
            .po-raid__img
                img(src="images/content/po-raid/img.png" alt="Сервер хранения данных AZIMUT - RECORD - IPV - S")
            .content.content--nogap
                p В основу которого вложен так называемый RAID (Redundant Array of Independent Disks) массив — это избыточный массив независимых (самостоятельных) дисков — технология виртуализации данных для объединения нескольких физических дисковых устройств в логический модуль для повышения отказоустойчивости и (или) производительности.