.inno-desc
    h2.inno-desc__title.title инновации
    .inno-desc__grid
        .inno-desc__left
            .inno-desc__content.content
                p Основная технологическая новация проекта заключается в комплексной автоматизации (в том числе, с применением технологий ИИ) взаимодействия участников системы социальной поддержки по всему миру: операторов связи и регуляторов, государственных социальных институтов, НПФ, страховых компаний, банков, финтех-компаний.
        .inno-desc__right
            .inno-desc__img
                img(src="images/content/inno/desc/img.png" alt="lorem")