.menu-btn
    .menu-btn__wrap
        button(type='button' data-menu='btn').menu-btn__btn
            span.menu-btn__btn-line
            span.menu-btn__btn-line
            span.menu-btn__btn-line
        div(data-menu='title').menu-btn__title= title