.po-composition
    .container
        h2.po-composition__title.title-small Состав и дополнительные модули системы
        .po-composition__content.content.content--nogap
            p Основополагающим уникальным компонентом системы является интерактивная карта.
            p Интерактивная карта – это электронная карта, работающая в режиме двухстороннего диалогового взаимодействия человека (пользователя) и компьютера и представляет собой визуальную информационную систему. Важно отметить, что для интерактивных карт расширяется понятие информативности. Помимо информации, воспринимаемой пользователем при чтении карты, интерактивные карты обладают скрытой информацией, которую можно получить, выполнив на карте определенные действия (например, при наведении курсора на объект).