extends ../../main

block variables
    - var header = 'about'
    - var title = 'Разработки'

block content
    main.page.terminal
        div(style="background-image:url(/images/content/po.png)").page__bg
        section.page__first
            .container
                include ../../components/po-about/index
        section.page__section.grey
            include ../../components/po-functional/index
        section.page__section.grey
            .container
                include ../../components/po-system/index
        section.page__section
            .container
                include ../../components/po-advs/index
        section.page__section
            include ../../components/po-composition/index
        section.page__section.bg2
            .container
                include ../../components/po-map/index
        section.page__section
            .container
                include ../../components/po-info/index
        section.page__section.bg2
            .container
                include ../../components/po-exmp/index
        section.page__section
            .container
                include ../../components/po-pos/index
        section.page__section
            include ../../components/po-device/index
        section.page__section
            .container
                include ../../components/po-device2/index
        section.page__section
            .container
                include ../../components/po-raid/index
        section.page__section
            include ../../components/po-storage/index
        section.page__section
            include ../../components/po-desc/index
        section.page__section
            .container
                include ../../components/po-regs/index



























