.terminal-dest{
  padding-top: 85px;
  padding-bottom: 80px;
  @include xlg-block{
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &__title{
    margin-bottom: 100px;
    @include xlg-block{
      margin-bottom: 40px;
    }
  }

  &__list{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
  }

  &__item{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    text-align: center;
  }

  &__img{
    img{
      display: block;
    }
  }
}