.po-desc
    .container
        h2.po-desc__title.title-small Общее описание:
        .po-desc__grid
            .po-desc__left
                .po-desc__content.content.content--ul-2
                    ul
                        li сервер с предустановленным ПО для сбора изображений с не менее чем 70 камер
                        li имеет встроенное отказоустойчивое дисковое пространство с объемом от 48 ТБ, т.е. может выступать в роли централизованного хранилища изображений
                        li имеет форм - фактор для установки в стандартную телекоммуникационную стойку
                        li поддерживает функционал устройства обработки данных прибора AZIMUT-Record-IPV-2, расширяя его:
                        li интерактивной картой размещения камер
                        li возможностью создания системы оповещения о критических событиях с передачей смс - сообщений (совместно с устройством Azimut-GSM)
            .po-desc__right
                .po-desc__items
                    .po-desc__item
                        .po-desc__txt Сбор изображений
                        .po-desc__val
                            span 70
                            span.po-desc__val--small камер
                    .po-desc__item
                        .po-desc__txt Объем от
                        .po-desc__val 48 ТБ

