.po-info
    h2.po-info__title.title-small На карте отображается следующая информация:
    .po-info__cols
        -
            var cols = [
                [
                    'название региона',
                    'название и логотип учреждения',
                    'герб города и герб области в которой развернута система',
                    'точный адрес отделения',
                    'общий список всех отделений в одной области',
                    'название камер',
                    'дата и время',
                    'в режиме онлайн просмотр с каждой камеры событий в текущей момент'
                ],
                [
                    'отображение битрейта(количество бит, используемых для передачи / обработки данных в единицу времени, используемых в измерении эффективной скорости передачи потока данных по каналу, то есть минимального размера канала, который сможет пропустить этот поток без задержек) каждой отдельной камеры',
                    'общий битрейт со всех камер отделения',
                    'выделение и подсвечивание цветом выбранного отделения',
                    'прочая информация по желанию заказчика'
                ]
            ];
        each col in cols
            .po-info__col
                .po-info__content.content.content--ul-2
                    ul
                        each li in col
                            li= li
