.po-info {
  padding-top: 110px;
  padding-bottom: 330px;
  @include xlg-block{
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__title {
    margin-bottom: 80px;
    @include xlg-block{
      margin-bottom: 40px;
    }
  }

  &__cols {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-right: -160px;
    @include xlg-block{
      margin-right: 0;
    }
    @include lg-block{
        gap: 20px;
    }
    @include sm-block{
        grid-template-columns: 100%;
    }
  }
}