.inno-azimut
    h2.inno-azimut__title.title-small Платформа Azimut обеспечивает:
    .inno-azimut__content.content
        p Платформа Azimut обеспечивает оперативность комплексной разработки и доработки новых мобильных сервисов, как технической их части, так и в части обеспечения эффективности предоставления услуг в сети оператора. Технологии Open API, реализованные в платформе Azimut, позволяют гибко адаптировать новые социальные и финтех сервисы/услуги для телекома и интегрировать их в существующие системы, а также обеспечить сервис по управлению и консалтинг по развитию услуги, включая процессинг и биллинг.
    .inno-azimut__items
        .inno-azimut__item
            p Возможность быстрой кастомизации мобильных сервисов под запросы/требования государственных социальных институтов, регуляторов, НПФ, страховых компаний и банков, ритейлеров (обслуживающих пенсионеров), операторов связи и финтех компаний на собственном ПО.
        .inno-azimut__item
            p Технологические- и бизнес интеграции новых мобильных социальных- и фин- сервисов и услуг с базовыми технологиями и системами операторов связи, государственных институтов, регуляторов, НПФ, социальных операторов «под ключ».
        .inno-azimut__item
            p Быстрое развёртывание терминалов самообслуживания государственных социальных институтов для сокращения времени обслуживания в офисах или создание возможности обслуживания граждан в удалённых районах.

