.inno-azimut{
  padding-top: 115px;
  padding-bottom: 80px;

  &__title{
    margin: 5px;
  }

  &__content{
    color: $bg;
    margin-bottom: 30px;
  }

  &__items{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
  }

  &__item{
    border: 3px solid #828ac4;
    padding-top: 30px;
    padding-right: 25px;
    padding-left: 45px;
    color: $bg;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    gap: 20px;

    p{
      text-align: right;
    }


    &:after{
      display: block;
      height: 90px;
      width: 90px;
      content: '';
      background-size: auto 100%;
      background-repeat: no-repeat;
      background-position: right 0;
      margin-right: -26px;
      margin-bottom: -1px;
    }

    &:nth-child(1){
      &:after {
        background-image: url("/images/content/page-projects/1.png");
      }
    }
    &:nth-child(2){
      &:after {
        background-image: url("/images/content/page-projects/2.png");
      }
    }
    &:nth-child(3){
      &:after {
        background-image: url("/images/content/page-projects/3.png");
      }
    }




  }
}