.inno-about
    .inno-about__section
        h2.inno-about__title.title-small автоматизация:
        .inno-about__txt Данная инновация решает проблему возрастающей сложности оказания услуг пользователям, которая является не только технической, но и организационной:
        .inno-about__items.inno-about__items--2
            .inno-about__item
                p - предложена единая платформа доступа к государственным АИС и хранилищам данных, агрегирующая различные коммуникационные каналы и сервисы на базе технологической инфраструктуры операторов связи и мессенджеров.
            .inno-about__item
                p - реализована бесшовная интеграция различных технологических доменов сети в единой инфраструктуре VAS мобильного оператора для предоставления услуг через технически различные участки сетевой инфраструктуры при минимуме затрат.
    .inno-about__section
        h2.inno-about__title.title-small аппаратно-программные комплексы
        .inno-about__txt Вторая новация проекта - это аппаратно-программные комплексы – терминалы самообслуживания граждан, разработанные с применением инновационных решений в области ИИ:
        .inno-about__items.inno-about__items--3
            .inno-about__item
                p - технологий голосовой биометрии (аутентификации и авторизации человека по голосу)
            .inno-about__item
                p - распознавания образов
            .inno-about__item
                p - способов и алгоритмов коммуникации с внешними информационными системами и ресурсами