.inno-about {
  padding-top: 110px;
  padding-bottom: 135px;

  display: flex;
  flex-direction: column;
  gap: 70px;
  @include xlg-block {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @include sm-block {
    padding: 40px 0;
  }

  &__title {
    margin-bottom: 85px;
    @include xlg-block {
      margin-bottom: 20px;
    }
  }

  &__txt {
    margin-bottom: 60px;
    text-indent: 25px;
    @include xlg-block {
      margin-bottom: 40px;
    }
    @include sm-block{
      text-align: center;
    }
  }

  &__items {
    display: grid;
    @include sm-block{
        gap: 40px;
    }
    counter-reset: li;

    &--2 {
      grid-template-columns: repeat(2, 1fr);
      margin-right: 40px;
      @include sm-block {
        grid-template-columns: 100%;
        margin-right: 0;
      }
    }

    &--3 {
      grid-template-columns: repeat(3, 1fr);
      @include sm-block {
        grid-template-columns: 100%;
      }
    }
  }

  &__item {
    padding-top: 70px;
    padding-right: 20px;
    position: relative;
    @include sm-block{
      text-align: center;
    }

    &:before {
      counter-increment: li;
      content: counter(li);
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: $btn;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 23px;
      color: $bg;

      position: absolute;
      top: 0;
      left: 0;
      @include sm-block {
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &:after {
      content: '';
      display: block;
      height: 3px;
      background-color: $btn;
      position: absolute;
      top: 24px;
      left: 50px;
      right: 0;
      @include sm-block {
        left: 0;
        top: 60px;
      }
    }

    &:last-child {
      &:after {
        display: none;
        @include sm-block{
          display: block;
        }
      }
    }


    p {
      max-width: 400px;
      text-indent: 25px;
    }
  }
}