.terminal-about
    h2.terminal-about__title.title разработки
    .terminal-about__grid
        .terminal-about__left
            .terminal-about__content
                h3 Терминал электронного взаимодействия
                p Аппаратно - программный комплекс с функцией скоростного сканирования документов, доступом к сервисам и личному кабинету ПФР, видеоконсультантом, системой сбора отзывов и мультимедийным справочником.
                br
                p Многоцелевая платформа, позволяющая решить множество задач клиентских служб ПФР.
                p В текущую версию Терминала включены такие модули (возможности), как получение извещения о состоянии индивидуального счета, информирования и консультации по вопросам общего характера.
                p Функциональные возможности ограничены лишь текущими задачами клиентской службы ПФР и развиваются соответственно требованиям и пожеланиям Заказчика.
        .terminal-about__right
            .terminal-about__img
                img(src="images/content/tso.png" alt="Терминал электронного взаимодействия")
            ul.terminal-about__list
                each i in ['антивандальное сенсорное стекло  экран 19’’','область сканирования размещена внутри корпуса','стеклянная ударопрочная столешница']
                    li.terminal-about__li= i
