.terminal-about {

  &__grid {
    margin-right: -160px;
    display: grid;
    grid-template-columns: 1fr 610px;
    @include xlg-block {
      margin-right: 0;
      grid-template-columns: 1fr 500px;
    }
    @include lg-block {
      grid-template-columns: 100%;
      gap: 30px;
    }
  }

  &__title {
    margin-bottom: 35px;
  }

  &__content {
    color: $bg;

    h2, h3, h4 {
      margin-bottom: 20px;
    }
  }

  &__right {
    display: flex;
    gap: 40px;
    @include sm-block {
      flex-direction: column;
      gap: 20px;
      align-items: center;
    }
  }

  &__img {
    flex-shrink: 0;
    max-width: 290px;
    @include xlg-block {
      max-width: 200px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;

    font-size: 23px;
    color: $bg;
    @include sm-block{
      font-size: 20px;
      gap: 10px;
    }
  }

  &__li {
    text-indent: 20px;
    line-height: 1.39;

    &:before {
      content: '- ';
      display: inline;
    }
  }
}