.header-fixed
    .header__container.header-fixed__container
        .header-fixed__left
            - var cls = 'logo--small'
            include ../logo/index
        .header-fixed__center
            .header-fixed__item
                a(href="tel:+7(925)478-75-87")
                    img(src="/images/icons/phone.png" alt="lorem")
                    | +7 (925) 478-75-87
            .header-fixed__item
                a(href="mailto:info@npprdt.ru")
                    img(src="/images/icons/mail.png" alt="lorem")
                    | info@npprdt.ru
        .header-fixed__right
            button(type='button' data-call='btn').header__call.btn заявка