.po-advs
    h2.po-advs__title.title-small Также вы сможете по достоинству оценить следующие конкурентные преимущества:
    .po-advs__items
        each i,x in ['стоимость комплектов видеонаблюдения Азимут Record-IPV без наценок перекупщиков','выгодные условия оплаты и доставки продукции','персональный подход в решении самых сложных задач']
            .po-advs__item.po-adv
                .po-adv__img
                    img(src="images/content/po-advs/"+(x+1)+".png" alt="lorem")
                .po-adv__txt= i