.terminal-chars
    h2.terminal-chars__title.title-small Основные технические характеристики терминала:
    -
        var arr = [
            {
                img: 'images/content/terminal-chars/1.png',
                title: 'Сканирование документов',
                list: [
                    'формат до А4',
                    'скорость получения сканированного документа – не более 0,5 с (для всей области А4)',
                    'разрешение 300 DPI'
                ]
            },
            {
                img: 'images/content/terminal-chars/2.png',
                title: 'Встроенная система отзывов',
                list: [
                    'отзыв в текстовом виде (до 800 символов, настраивается)',
                    'отзыв по 5 заданным критериям (настраивается)\n',
                    'аудио отзыв (длительность до 100 секунд)'
                ]
            },
            {
                img: 'images/content/terminal-chars/3.png',
                title: 'Автономия',
                list: [
                    'устройство не требует дополнительных серверов, ПО, навыков сотрудников',
                    'весь функционал представлен в едином корпусе',
                ]
            },
            {
                img: 'images/content/terminal-chars/4.png',
                title: 'Габаритные размеры',
                list: [
                    '1550(+)(В) х 560(Ш) х 380(Г)',
                    'вес – 75 кг'
                ]
            },
            {
                img: 'images/content/terminal-chars/5.png',
                title: 'Интеграция с популярными сервисами ПФР',
                list: [
                    'запись на прием',
                    'информационные сервисы, включая «видеоконсультант»',
                    'личный кабинет страхователя',
                    'электронная очередь'
                ]
            },
            {
                img: 'images/content/terminal-chars/6.png',
                title: 'Встроенная система отчетности и сбора статистики',
                list: [
                    'возможность удаленного управления и настройки ТСО через WEB интерфейс с любого рабочего места',
                    'возможность раннего обнаружения возможных проблем',
                    'статистика использования терминала',
                    'многоуровневая(администратор / пользователь) система доступа к отчетности',
                ]
            },
            {
                img: 'images/content/terminal-chars/7.png',
                title: 'Возможность расширения',
                list: [
                    'группа терминалов может быть логически объединена в единое информационное пространство',
                    'встроенная возможность наблюдения, сбора статистики с группы устройств, используя единый WEB портал'
                ]
            },
            {
                img: 'images/content/terminal-chars/8.png',
                title: 'Основные элементы терминала',
                list: [
                    'антивандальное сенсорное стекло',
                    'экран 19’’',
                    'стеклянная ударопрочная столешница',
                    'область сканирования размещена внутри корпуса'
                ]
            }
        ];
    .terminal-chars__items
        each i in arr
            .terminal-chars__item
                .terminal-char
                    .terminal-char__left
                        .terminal-char__img
                            img(src=i.img alt="lorem")
                        .terminal-char__title= i.title
                    .terminal-char__right
                        ul.terminal-char__list
                            each li in i.list
                                li.terminal-char__li= li
    .terminal-chars__comment Технические параметры могут быть заменены производителем на превосходящие без дополнительных уведомлений.
