.terminal-chars {
  padding-top: 125px;
  padding-bottom: 150px;
  @include xlg-block{
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &__title {
    margin-bottom: 100px;
    @include xlg-block{
      margin-bottom: 40px;
    }
  }

  &__items{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 20px;
    @include sm-block{
        gap: 15px;
    }
  }

  &__item{
    &:nth-child(even){
      .terminal-char__right{
        background-color: $btn;
        color: $bg;
      }
    }
  }

  &__comment{
    text-indent: 25px;
  }
}

.terminal-char {
  display:grid;
  grid-template-columns: 410px 1fr;
  align-items: center;
  gap: 10px;
  min-height: 190px;
  @include lg-block{
    min-height: auto;
    grid-template-columns: 100%;
  }

  &__left{
    display:grid;
    grid-template-columns: 90px 1fr;
    gap: 50px;
    align-items: center;
    @include lg-block{
      display: flex;
      justify-content: flex-start;
      gap: 20px;
      padding-left: 40px;
    }
    @include sm-block{
      padding-left: 20px;
    }
  }

  &__img{
    @include lg-block{
      width: 70px;
    }
    img{
      display: block;
    }
  }

  &__title{
    text-align: center;
    @include lg-block{
      text-align: left;
    }
  }

  &__right{
    padding: 40px 60px;
    border-left: 2px solid $btn;
    @include lg-block{
      background-color: $btn;
      color: $bg;
      margin: 0 -20px;
    }
    @include sm-block{
      padding: 20px 30px;
      margin: 0 -10px;
    }
  }

  &__li{
    &:before{
      content: '- ';
      display: inline;
    }
  }
}