.terminal-principles{
  padding-bottom: 110px;
  @include xlg-block{
    padding-bottom: 60px;
  }

  &__title{
    margin-bottom: 110px;
    @include xlg-block{
      margin-bottom: 40px;
    }
  }

  &__slider{
    position: relative;
  }

  &__slide{
    img{
      display: block;
    }
  }

  &__pag{
    position: absolute;
    z-index: 10;
    bottom: 20px!important;
    left: 0;
    right: 0;
  }
}