.logo{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  text-align: center;

  &--small{
    flex-direction: row;
    gap: 20px;

    .logo{
      &__img{
        width: 77px;
      }

      &__txt{
        font-size: 16px;
      }
    }
  }

  &__img{
    width: 113px;

    img{
      display: block;
    }
  }

  &__txt{
    font-size: 20px;
    font-weight: 500;
    color: #37b8bf;
    line-height: 20px;
  }
}