.terminal-list
    .terminal-list__item
        p Локальный сервер
        p На терминалах будет устанавливаться локальное серверное приложение, работающее с оборудованием терминала, обменивающееся данными с централизованным сервером, выполняющее всю логику, содержащее в себе страницы клиентских меню.
    .terminal-list__item
        p Локальная оболочка (браузер)
        p Для отображения клиентских страниц (меню клиента), а также раздела настроек, на терминале будет устанавливаться программная оболочка (браузер), работающая под ОС Windows или Linux. Данная оболочка будет загружаться вместо оболочки ОС, предотвращая к ней доступ, а также создавая видимость цельного аппаратно-программного решения.
        p В этой оболочке в режиме браузера будут отображаться страницы клиента и раздела настроек. Сама по себе оболочка не будет взаимодействовать с оборудование, т.к. эту задачу будет выполнять локальное серверное приложение.
    .terminal-list__item
        p Централизованный сервер.
        p Останавливается на отдельной машине в районе, отделении, регионе. Позволяет настраивать терминалы через админку с разграничением прав доступа, обновлять ПО, как целиком, так отдельные страницы отображения клиентских окон на терминале.
        p Централизованный сервер создаст большое поле для новых разработок и больших интеграций с заказчиком, а также позволит предложить заказчику больше услуг по обслуживанию системы.
