.terminal-list{
  counter-reset: li;
  display:grid;
  grid-template-columns: repeat(3,1fr);
  padding-top: 155px;
  padding-bottom: 80px;
  @include xlg-block{
    padding-top: 60px;
    padding-bottom: 40px;
  }

  &__item{
    position: relative;
    padding: 75px 55px 0 0;
    @include xlg-block{
      font-size: 20px;
    }

    &:before{
      counter-increment: li;
      content: counter(li);
      width: 50px;
      height: 50px;
      font-size: 23px;
      color: $bg;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background: $btn;
      position: absolute;
      top: 0;
      left: 0;
    }

    &:after{
      content: '';
      display: block;
      position: absolute;
      top: 25px;
      left: 50px;
      right: 0px;
      height: 2px;
      background: $btn;
    }

    &:last-child{
      padding-left: 0;
      &:after{
        display: none;
      }
    }

    p{
      text-indent: 20px;
    }
  }
}