.page-projects
    .container
        h2.page-projects__title Реализованы:
        ul.page-projects__list
            each i in arr
                li.page-projects__li
                    .page-projects__li-title= i
        .page-projects__txt На базе технологической коллаборации с биотех Gero разработан уникальный сервис для предпенсионеров.
