.about{
  padding-bottom: 50px;
  @include xlg-block{
    padding: 0;
  }

  %ml{
    margin-left: 150px;
    @include xlg-block{
      margin-left: 0;
    }
  }

  &__container{
    width: 100%;
    max-width: 1660px;
    padding: 0 20px;
    margin: 0 auto;
    @include xlg-block{
      padding: 0 70px;
    }

  }

  &__flex{
    display: flex;
    gap: 40px;
   @extend %ml
  }

  &__title{
    margin-bottom: 25px;
    @extend %ml
  }

  &__content{

    &--white{
      color: $bg;
    }
  }

  &__img{
    img{
      display: block;
    }
  }


}