.po-about
    h2.po-about__title.title разработки
    .po-about__grid
        .po-about__left
            .po-about__content.content.content--nogap.content--ul-2
                h3 ПО Интерактивного взаимодействия
                p Предназначена для обеспечения доступа к камерам ПФР с помощью web-бразуера в удобном представлении всего региона и каждого управления в каждом городе.
                p Специализированная компания ”Азимут” предлагает приобрести надежное устройство собственного производства.
                p С ним вы будете:
                br
                ul
                    li уверены в сохранности материальных ценностей
                    li сможете контролировать рабочие места персонала
                    li в целом в любой момент отследить ситуацию в офисе, на производственной площадке или складе.

        .po-about__right
            .po-about__img
                img(src="images/content/po-about/img.png" alt="lorem")