.call {
  position: fixed;
  z-index: 102;
  top: 0px;
  bottom: 0px;
  left: 0;
  right: 0;
  background: rgba(black, .5);
  padding-top: 20px;
  padding-bottom: 20px;
  display: none;

  &.active{
    display: block;
  }

  &.sended{
    .call__suc{
      display: flex;
    }
  }

  &__wrap {
    width: 100%;
    max-width: 1700px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    //overflow-y: auto;
    border-radius: 20px;

    //&::-webkit-scrollbar {
    //  width: 0;
    //}
  }

  &__form {
    width: 100%;

    background: $bg;
    border-radius: 20px;
    padding: 110px 230px 110px 80px;
    display: grid;
    grid-template-columns: 1fr 725px;
    gap: 20px;
    align-items: center;
    position: relative;


  }

  &__close{
    width: 30px;
    position: absolute;
    z-index: 3;
    top: 40px;
    right: 40px;
  }

  &__fields {
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin-bottom: 35px;

  }

  &__field {
    border-bottom: 3px solid #9db6b7;
    display: flex;
  }

  &__input {
    color: $txt;
  }

  &__accept {
    margin-bottom: 35px;
  }

  &__captcha {
    margin-bottom: 85px;
  }

  &__submit {
    width: auto;
    padding: 0 15px;
  }

  &__suc{
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 20px;
    background: $bg;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    font-family: Manrope;
    font-size: 46px;
    display: none;
  }

}

.accept {
  cursor: pointer;

  &__input {
    display: none;

    &:checked + .accept__fake {
      .accept__check img {
        opacity: 1;
      }
    }
  }

  &__fake {
    display: flex;
    align-items: center;
    gap: 35px;
  }

  &__check {
    width: 34px;
    height: 34px;
    border-radius: 10px;
    border: 2px solid #95b0b1;
    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
      display: block;
      opacity: 0;
    }
  }
}