.po-storage
    .container
        .po-storage__grid
            .po-storage__left
                .po-storage__flex
                    .po-storage__title Хранение информации
                    .po-storage__vals от 7 до 180
                    .po-storage__title.po-storage__title--right дней
            .po-storage__right
                .po-storage__content.content.content--nogap
                    p Иными словами, это устройство, с помощью которого вы можете хранить большой объем данных на длительное время, с гарантией того что ваши данные или в нашем случае записи с видеокамер не пропадут. Как правило архивы с видеокамер хранятся от 1 недели до полугода в зависимости от объема RAID, правильности настроек и числа камер. После заполнения дисков массива или при наступлении заданного срока, данные в автоматическом режиме перезаписываются на более свежие.
                    p Примечание: технические характеристики сервера могут сильно варьироваться в зависимости от нагрузки и целей текущего проекта в процессе расчета.
