.page{
  position: relative;

  &__bg{
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;

    background-position: center top;
    background-repeat: no-repeat;
    @include xlg-block{
      background-image: none!important;
    }
  }

  &__first{
    background: radial-gradient(ellipse at center, #5a63a3 0%,#2d336c 100%);
    padding-top: 350px;
    padding-bottom: 100px;
    flex-grow: 1;
    @include xlg-block{
      padding-top: 200px;
      padding-bottom: 60px;
    }
    @include lg-block{
      padding-top: 120px;
      padding-bottom: 40px;
    }
    @include sm-block{
      padding-top: 90px;
      padding-bottom: 30px;
    }
  }

  &__about{
    padding-top: 210px;
    padding-bottom: 415px;
    @include xlg-block{
      padding-top: 60px;
      padding-bottom: 80px;
    }
    @include lg-block{
      padding-top: 40px;
      padding-bottom: 60px;
    }
  }
}