.page{
  position: relative;

  &__bg{
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;

    background-position: center top;
    background-repeat: no-repeat;
  }

  &__first{
    background: radial-gradient(ellipse at center, #5a63a3 0%,#2d336c 100%);
    padding-top: 350px;
    padding-bottom: 100px;
  }

  &__about{
    padding-top: 210px;
    padding-bottom: 415px;
  }
}