.sk-desc
    .sk-desc__item
        .sk-desc__col
            .sk-desc__img
                img(src="images/content/sk-desc/1.png" alt="lorem")
        .sk-desc__col
            .sk-desc__content.content
                p Изначально под строительство центра инноваций «Сколково» отвели около 4 квадратных километров территории, но спустя десять лет было принято решение о расширении площади наукограда до 3700 квадратных километров.
                p За несколько лет плодотворной работы центр «Сколково» стал полноценной инновационной экосистемой, помогающей предприятиям на всех этапах становления: от разработки идеи до реализации ее в коммерческом плане. Сегодня «Сколково» помогает начать и развить эффективную деятельность 2,5 тысячам компаний, которые смогли создать около 40 тысяч высокооплачиваемых рабочих мест.
    .sk-desc__item
            .sk-desc__col
                .sk-desc__img
                    img(src="images/content/sk-desc/2.png" alt="lorem")
            .sk-desc__col
                .sk-desc__content.content
                    p Результатом деятельности Фонда «Сколково» должна стать самоуправляющаяся и саморазвивающаяся экосистема, благоприятная для развития предпринимательства и исследований, способствующая созданию компаний, успешных на глобальном рынке.
                    p Для тех, кто не связан с миром изобретений и технологий «Сколково» – это очередной научный центр, который занимается разработками. Обычным людям практически ничего не известно о грандиозных проектах, ведь большинство изобретений не предназначено для потребительского рынка. Однако стоит заметить, что уже сегодня многие резиденты «Сколково» получили мировое признание и завоевали престижные награды в мировых конкурсах современных технологий и инноваций.

