.sk-desc{
  margin-right: -150px;
  padding-top: 110px;
  padding-bottom: 130px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include xlg-block{
    margin-right: 0;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  &__item{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
    @include lg-block{
      grid-template-columns: 100%;
      gap: 20px;
    }

  }

  &__col{
    &:nth-child(1){
      @include lg-block{
        order: 1;
      }
    }
  }

  &__img{
    border: 3px solid $btn;
    img{
      display: block;
      width: 100%;
    }
  }
}