.page-about
    .container
        h2.page-about__title.title О компании
        .page-about__grid
            .page-about__left
                .page-about__content
                    p Компания «НПП РДТ» является резидентом Сколково. Начала свою деятельность весной 2020 года, разрабатывает программно-аппаратные комплексы и телекоммутационное оборудование, а также внедряет их в существующую инфраструктуру под запросы клиентов.
                    p Цель: обеспечение роста доступности и качества социального обслуживания физических лиц на базе ИТ-инфраструктуры операторов связи, ПФР, НПФ, банков и социальных операторов.
            .page-about__right
                .page-about__img
                    img(src="images/content/page-about/img.jpg" alt="О компании")