.page-about{
  position: relative;
  padding-top: 240px;
  padding-bottom: 145px;

  &:before{
    content: '';
    display: block;
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;
    width: 53%;
    background-color: #5c64a4;
  }

  .container{
    position: relative;
    z-index: 1;
  }

  &__title{
    margin-bottom: 130px;
  }

  &__grid{
    display:grid;
    grid-template-columns: 65fr 55fr;
  }

  &__left{
    padding-right: 25px;
  }

  &__content{
    display: flex;
    flex-direction: column;
    gap: 35px;
    color: $bg;
  }

  &__right{
    padding-left: 35px;
  }

  &__img{
    border: 4px solid $btn;
    display: flex;
    img{
      width: 100%;
    }
  }
}