.po-system
    h2.po-system__title.title-small Назначение системы видеонаблюдения
    .po-system__items
        each i in ['Современные производители выпускают модели, способные воспроизводить видео в режиме реального времени или обращаться к архивам записей, а также скачивать их фрагменты.','Наша команда стремится к постоянному усовершенствованию продукции, поэтому наделила аппаратуру возможностью просматривать записи для разбора спорных случаев, наблюдать в онлайн-режиме работу КС, размещать передаваемые изображения на сайте ПФР.','Кроме того, что вы получаете качественный продукт, мы готовы предоставить полный сервис: от установки и ввода в эксплуатацию до гарантийного и постгарантийного обслуживания.']
            .po-system__item= i