.po-pos
    h2.po-pos__title.title-small Преимущества и возможности интерактивной карты:
    .po-pos__cols
        -
            var cols = [
                [
                    'оформление и общей вид интерфейса интуитивно понятный, не маркий, унифицированный',
                    'каждый район просматривается отдельно от всех камер, что дает возможность более оперативно находить необходимые районы и камеры',
                    'простота работы, нет необходимости в специализированных специалистах по СВН и администраторах',
                    'в разработке создание дистрибутива для развертывания интерактивной карты системы своими силами без привлечения специалистов',
                    'отсутствие дополнительных лицензий'
                ],
                [
                    'возможность выбора отделения как с карты, так и из списка',
                    'карта является гибким конфигурирующем решением, учитывающим различные пожелания заказчика',
                    'высокое разрешение камер позволяет интегрировать в систему различные современные модули и технологии такие как:',
                    'распознавание лиц',
                    'поиск оставленных предметов',
                    'идентификация клиентов при повторном обращении',
                    'прочие модули интеллектуальной системы видеонаблюдения'
                ]
            ];
        each col in cols
            .po-pos__col
                .content.content--ul-2
                    ul
                        each li in col
                            li= li
    .po-pos__content.content
        p Интерактивная карта позволяет объединить все районы и автономные округа страны в единую карту из единого центра любой географической точки и любого выбранного ОПФР в единой системе мониторинга
