.po-pos{
  padding-top: 110px;
  padding-bottom: 175px;
  @include xlg-block{
    padding-top: 60px;
    padding-bottom: 40px;
  }
  @include sm-block{
    padding-top: 40px;
    padding-bottom: 20px;
  }

  &__title{
    margin-bottom: 80px;
    @include xlg-block{
      margin-bottom: 40px;
    }
  }

  &__cols{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
    margin-bottom: 30px;
    margin-right: -160px;
    @include xlg-block{
      margin-right: 0;
    }
    @include lg-block{
        gap: 20px;
    }
    @include sm-block{
        grid-template-columns: 100%;
    }
  }

  &__content{
    margin-right: -160px;
    @include xlg-block{
      margin-right: 0;
    }
  }
}