.contacts-map
    h2.contacts-map__title.title контакты
    .contacts-map__grid
        .contacts-map__left
            .contacts-map__map.
                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ae456bb6ba67bccea4f98a2723e8574dedc3d3d2e8204aad6b3fed5708b09d4dc&amp;source=constructor"></iframe>
        .contacts-map__right
            .contacts-map__contacts
                a(href="tel:+7(925)478-75-87").contacts-map__contact
                    img(src="images/icons/phone.png" alt="lorem")
                    | +7 (925) 478-75-87
                a(href="mailto:info@npprdt.ru").contacts-map__contact.contacts-map__contact--big
                    img(src="images/icons/mail.png" alt="lorem")
                    | info@npprdt.ru
                span.contacts-map__contact.contacts-map__contact--400
                    img(src="images/icons/pin.png" alt="lorem")
                    span
                        | 123308, г. Москва,
                        br
                        | проспект Маршала
                        br
                        |Жукова, д.2