%contact {
  font-family: Manrope;
  color: $bg;
  font-weight: 900;
  @include tr;

  a{
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &:hover {
    color: $btn;
  }
}

.header {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 75px;

  &--about {
    .header {
      &__container {
        justify-content: initial;
      }

      &__left {
        margin-right: auto;
      }

      &__center {
        margin-right: 200px;
        align-items: flex-start;
      }
    }
  }

  &--inno{
    .header {
      &__center {
        margin-right: 185px;
      }
    }
  }



  &__container {
    width: 100%;
    max-width: 1660px;
    margin: 0 auto;
    padding: 0 20px;

    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__left {
    width: 113px;
  }

  &__center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  &__right {
    width: 113px;
    padding-bottom: 25px;
  }

  &__contacts {
    display: flex;
    align-items: center;
  }

  &__phone {
    @extend %contact;
    margin-right: 70px;
  }

  &__mail {
    @extend %contact;
    margin-right: 25px;
  }

  &__link {
    opacity: .5;
    @include tr;

    &:hover {
      opacity: 1;
    }

    a {
      img {
        display: block;
      }
    }
  }

  &__nav {
    //margin: 0 -20px;
    display: flex;
    gap: 40px;
    position: relative;
  }

  &__item {
    font-family: Manrope;
    color: $bg;
    text-transform: uppercase;

    &:hover {
      color: $btn;
      text-decoration: underline;

      .header__drop {
        display: block;
      }
    }

    &.active{
      color: $btn;
      text-decoration: underline;
    }
  }

  &__drop {
    position: absolute;
    z-index: 2;
    top: calc(100% + 15px);
    left: 0;
    right: 0;
    display: none;

    &:before {
      content: '';
      display: block;
      position: absolute;
      bottom: 100%;
      left: 0;
      right: 0;
      height: 20px;
    }
  }

  &__drop-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0px 45px;
  }

  &__drop-item {
    color: #777fb9;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 400;
    text-transform: initial;

    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 0;

    &:before {
      content: '';
      display: block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: #777fb9;
    }

    &:hover{
      color: $main;
    }
  }

}