.terminal-menu
    h2.terminal-menu__title.title-small Как выглядит основное меню:
    .terminal-menu__slider
        .terminal-menu__swiper.swiper
            .swiper-wrapper
                each i in [1,2,3,4]
                    a(href="images/content/terminal-menu/" + i + ".jpg" data-fancybox="menu").swiper-slide.terminal-menu__slide
                        img(src="images/content/terminal-menu/" + i + ".jpg" alt="lorem")
        .terminal-menu__pag.pag.pag--vertical
    .terminal-menu__link
        .terminal-menu__link-txt С подробными функциями можно в документе:
        a(href="#").terminal-menu__link-a
            img(src="images/icons/pdf.png" alt="lorem")
