.po-map
    .po-map__left
        img(src="images/content/po-map/img.png" alt="lorem")
    .po-map__right
        .po-map__content.content.content--nogap
            p Интерактивная карта представляет собой уникальный, унифицированный продукт разработанный специалистами компании ”Азимут” специально для пенсионных фондов РФ.
            p На информационной карте отображаются вся необходимая информация для оперативного просмотра камер системы видеонаблюдения в отдельных районах и отделениях пенсионных фондов определенного региона.
