.po-map{
  padding-top: 230px;
  padding-bottom: 450px;

  display:grid;
  grid-template-columns: 560px 1fr;
  gap: 40px;
  @include xlg-block{
    padding-top: 60px;
    padding-bottom: 40px;
  }
  @include lg-block{
      grid-template-columns: 100%;
  }


  img{
    display: block;
  }

  &__content{
    color: $bg;
    @include lg-block{
      text-align: center;
    }
    p{
      text-indent: 20px;
      @include lg-block{
          text-indent: 0;
      }
    }
  }
}