.po-device2
    .po-device2__wrap
        .po-device2__content
            p Данное устройство представляет собой сетевой с коммутатор с поддержкой POE: Power over Ethernet (PoE) технология, обеспечивающая подачу электрической энергии вместе с данными по сетевой инфраструктуре Ethernet. А также локальное совмещенное с ним хранилище данных, со следующими характеристиками:
        .po-device2__cols
            -
                var cols = [
                    [
                        'полностью совместимо с IP камерами разных производителей',
                        'форм - фактор для установки в стандартную телекоммуникационную стойку',
                        'возможность замены жесткого диска силами Заказчика без потери гарантии производителя оборудования',
                        'работает на базе ОС Windows или Linux',
                        'встроенные порты Ethernet для управления и доступа к записям – 1 или 2 и с поддержкой POE',
                        'возможность одновременной записи с 16 или 64 камер'
                    ],
                    [
                        'минимальный набор встроенных портов:',
                        'HDMI – один,',
                        'Аудиовход, аудиовыход – по одному,',
                        'USB 3.0 – два',
                        'два отсека для установки HDD',
                        'комплект поставки включает предустановленный HDD на 6000 ГБ'
                    ]
                ];
            each col in cols
                .po-device2__col
                    .content.content--ul-2
                        ul
                            each li in col
                                li= li