.footer {
  padding: 110px 0;
  background-color: $bg3;
  @include xlg-block {
    padding: 40px 0 20px;
  }

  &__container {
    width: 100%;
    max-width: 1500px;
    padding: 0 20px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    @include xlg-block {
      padding: 0 70px;
    }
  }

  &__item {
    display: block;
    color: $bg;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.57;
    @include tr;

    &:hover {
      color: $btn;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 30px;
    @include xlg-block {
      gap: 15px;
    }
  }

  &__contact {
    color: $bg;
    font-weight: 700;
    font-size: 23px;

    display: flex;
    gap: 25px;
    align-items: center;
    @include tr;
    @include xlg-block {
      font-size: 20px;
    }


    &--big {
      font-size: 28px;
      @include xlg-block {
        font-size: 24px;
      }
    }

    &--400 {
      font-weight: 400;
    }

    &:hover {
      color: $btn;
    }
  }
}