.up{
  position: fixed;
  z-index: 101;
  top: 50%;
  right: 20px;

  width: 75px;
  height: 75px;
  border-radius:50%;
  background: $btn;
  transform: translateY(-50%);

  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  @include tr;
  @include xlg-block{
    width: 50px;
    height: 50px;
    right: 10px;
    padding: 10px;
  }
  @include lg-block{
    top: initial;
    transform: none;
    bottom: 10px;
  }

  &:hover{
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
  }

  &.active{
    pointer-events: all;
    opacity: 1;
  }

  img{
    display: block;
  }
}