.sk-about
    h2.sk-about__title.title.title--under сколково
    .sk-about__grid
        .sk-about__col
            .content.content--white
                p Инновационный центр «Сколково» – первый и единственный в России город, задуманный и спроектированный с целью концентрации отечественного научного и бизнес-потенциала для разработки и коммерциализации наиболее перспективных проектов в стратегических для страны направлениях:
                ul
                    li энергоэффективности;
                    li информатики и телекоммуникаций;
                    li биомедицины;
                    li передовых промышленных технологий.
                p Наукоград создавался по образу Кремниевой долины, которая за несколько десятилетий существования подтвердила высокую практическую рентабельность предприятия.
        .sk-about__col
            .sk-about__img
                img(src="images/content/sk-about/img.png" alt="сколково")