.sk-about {
  padding-bottom: 45px;
  @include xlg-block{
    padding-bottom: 0;
  }

  &__title {
    margin-bottom: 25px;
  }

  &__grid{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
    margin-right: -150px;
    @include xlg-block{
      margin-right: 0;
    }
    @include lg-block{
        grid-template-columns: 100%;
    }
  }

  &__col{
    &:nth-child(1) {
      @include lg-block {
        order: 1;
      }
    }
  }

  &__img{
    border: 3px solid $btn;

    img{
      display: block;
      width: 100%;
    }
  }

}