.terminal-archs
    .terminal-archs__txt Новое ПО для терминалов самообслуживания предполагает разработку новой архитектуры для решения следующих задач:
    ul.page-projects__list.terminal-archs__list
        each i in ['Кросс-платформенность. Позволит использовать ПО терминала на ОС Windows и Linux.','Централизованная настройка и обновление терминалов через сервер.','Новая модульная архитектура для сокращения трудозатрат на новые разработки и их интеграцию в другие проекты помимо ПФР']
            li.page-projects__li
                .page-projects__li-title= i
