.terminal-functional
    h2.terminal-functional__title.title-small Основной функционал:
    .terminal-functional__list
        .terminal-functional__item
            p скоростное оптическое сканирование различных типов документов в высоком разрешении
        .terminal-functional__item
            p мультимедийный справочно - информационный модуль, включающий справочные материалы ПФР, правовые документы, а также иные фото и видеоматериалы
        .terminal-functional__item
            p опрос посетителей (система сбора отзывов), ведение статистики эксплуатации терминала
        .terminal-functional__item
            p онлайн видео консультация со специалистом ПФР
        .terminal-functional__item
            p интеграция с электронными сервисами ПФР, в том числе:
            ul
                li запись на прием и заказ документов
                li направление обращений
                li личный кабинет страхователя
                li пенсионный калькулятор и многое другое



