.terminal-functional{
  padding-top: 80px;
  padding-bottom: 90px;
  @include xlg-block{
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &__title{
    margin-bottom: 90px;
    @include xlg-block{
      margin-bottom: 40px;
    }
  }

  &__list{
    margin-right: -200px;
    display:grid;
    grid-template-columns: repeat(5,1fr);
    counter-reset: li;
    @include xlg-block{
      margin-right: 0;
    }
  }

  &__item{
    padding: 70px 40px 0 40px;
    text-align: right;
    position: relative;
    @include xlg-block{
      padding-left: 0;
      font-size: 20px;
    }

    &:before{
      counter-increment: li;
      content: counter(li);
      width: 50px;
      height: 50px;
      font-size: 23px;
      color: $bg;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background: $btn;
      position: absolute;
      top: 0;
      left: 0;
    }

    &:after{
      content: '';
      display: block;
      position: absolute;
      top: 25px;
      left: 50px;
      right: 0px;
      height: 2px;
      background: $btn;
    }

    &:last-child{
      padding-left: 0;
      &:after{
        display: none;
      }
    }

    p{
      &:before{
        content: '-';
        display: inline;
      }
    }

    ul{
      text-align: left;
      li{
        &:before{
          content: '';
          display: inline-block;
          width: 8px;
          height: 8px;
          background: $btn;
          margin-bottom: 3px;
          margin-right: 8px;
        }
      }
    }
  }
}