.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 112px;
  max-width: 100%;
  height: 56px;
  background: $btn;
  color: $bg;
  font-family: Manrope;
  font-weight: 500;
  font-size: 26px;
  border-radius: 100px;
  box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.1);
  line-height: 1;
  @include tr;
  @include lg-block {
    font-size: 24px;
    height: 40px;
  }
  @include sm-block {
    font-size: 20px;
    width: 90px;
  }

  &:hover {
    box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.2);
  }

  &--black {
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);

    &:hover {
      box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
    }
  }

  &--btn {
    box-shadow: 0px 0px 10px 10px rgba($btn, 0.2);

    &:hover {
      box-shadow: 0px 0px 10px 10px rgba($btn, 0.4);
    }
  }

}

.ovh {
  overflow: hidden;
}

.title {
  font-family: Manrope;
  font-size: 90px;
  font-weight: 900;
  color: $btn;
  line-height: 1;
  text-transform: uppercase;
  @include xlg-block {
    font-size: 70px;
  }
  @include lg-block {
    font-size: 50px;
    text-align: center;
  }
  @include sm-block {
    font-size: 40px;
  }

  &--under {
    text-decoration: underline;
  }
}

.title-small {
  color: $btn;
  font-family: Manrope;
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  @include lg-block {
    text-align: center;
  }
  @include sm-block{
    font-size: 24px;
  }
}

.disabled {
  filter: grayscale(1);
  pointer-events: none;
}

.fs0 {
  flex-shrink: 0;
}

.grey {
  background: #f1f1f1;
}

.bg2 {
  background-color: $bg2;
}

.pag {
  display: flex;
  justify-content: center;
  pointer-events: none;
  gap: 10px;
  @include sm-block {
    gap: 5px;
  }

  &--vertical {
    flex-direction: column;
    align-items: flex-end;
  }

  .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background-color: #6e73b1;
    opacity: 1;
    pointer-events: all;
    margin: 0 !important;
    @include sm-block {
      width: 10px;
      height: 10px;
    }


    &-active {
      background-color: $btn;
    }
  }

}

.content {
  display: flex;
  flex-direction: column;
  gap: 35px;
  @include xlg-block {
    gap: 25px;
  }
  @include sm-block {
    text-align: center;
    gap: 15px;
  }

  &--white {
    color: $bg;
  }

  p {
    text-indent: 25px;
    @include sm-block {
      text-indent: 0;
    }

  }

  h2, h3, h4 {
    color: $btn;
    font-family: Manrope;
    font-size: 32px;
    text-transform: uppercase;
    @include sm-block{
      font-size: 24px;
    }
  }

  ul {
    line-height: 1.57;

    li {
      &:before {
        content: '- ';
        display: inline;
      }
    }
  }

  &--nogap {
    gap: 0;
  }

  &--ul-2 {
    ul {
      display: flex;
      flex-direction: column;
      gap: 15px;
      line-height: 1.42;

      li {
        &:before {
          content: '';
          display: inline-block;
          width: 8px;
          height: 8px;
          background: $btn;
          margin-right: 10px;
          margin-bottom: 3px;
        }
      }
    }
  }
}