.po-functional
    .container
        h2.po-functional__title.title-small Основной функционал:
    .po-functional__swiper.swiper
        .swiper-wrapper
            -
                var arr = [
                    '- работа на мобильных телефонах и планшетах',
                    '- работа на мобильных телефонах и планшетах',
                    '- организация представления регионов и отделений на карте',
                    '- отображение до 8 камер одного управления на странице',
                    '- просмотр камер в полном разрешении с возможностью переключения между ними в рамках одного региона',
                    '- автоматический выбор качества трансляции камеры в зависимости от скорости подключения клиента',
                ];
            each i in arr
                .swiper-slide.po-functional__item= i
