.po-functional {
  padding-top: 110px;
  padding-bottom: 60px;

  &__title{
    margin-bottom: 85px;
  }

  &__swiper{
    padding-left: 180px;
    counter-reset: li;
  }

  &__item {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 300px;
    padding-top: 75px;
    padding-right: 25px;
    position: relative;

    &:before{
      counter-increment: li;
      content: counter(li);
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: $bg;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: $btn;
      font-size: 23px;

      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
    }

    &:after{
      content: '';
      display: block;
      position: absolute;
      left: 50px;
      right: 0;
      top: 24px;
      height: 3px;
      background: $btn;
    }

    &:last-child{
      &:after{
        display: none;
      }
    }
  }

}