.po-regs
    h2.po-regs__title.title-small.
        На данный момент наша система развернута в ряде Российских регионов (полностью или частично):
    .po-regs__cols
        -
            var cols = [
                [
                    'ОПФР по республике Крым',
                    'ОПФР по Архангельской области',
                    'ОПФР по Владимирской области',
                    'ОПФР по Новосибирской области',
                ],
                [
                    'ОПФР по Ленинградской области',
                    'ОПФР по Самарской области',
                    'ОПФР по Саратовской области',
                ]
            ]
        each col in cols
            .po-regs__col
                ul.po-regs__ul
                    each li in col
                        li.po-regs__li= li
